---
import HeaderLink from "@/components/common/HeaderLink.astro";
import Logo from "@/assets/logo.svg";
import ThemeToggler from "@/components/common/ThemeToggler.astro";
---

<header>
  <div class="font-structure-title container mx-auto">
    <nav class="flex items-center justify-between py-3">
      <a href="/blog" class="flex items-center gap-3">
        <Logo
          class="size-14 transition-transform duration-200 hover:-rotate-12 hover:scale-125"
        />
        <h1 class="text-2xl font-bold">Dingo's Den</h1>
      </a>
      <div class="flex items-center gap-4">
        <HeaderLink href="/blog">Home</HeaderLink>
        <HeaderLink href="/archive">Archive</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/rss.xml">RSS</HeaderLink>
        <ThemeToggler />
      </div>
    </nav>
  </div>
</header>
