---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="flex justify-center items-center gap-10 my-8">
    <div class="text-2xl font-bold">
      <a href="/">Dingo den</a>
    </div>
    <div class="flex gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/archive">Archive</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/rss.xml">RSS</HeaderLink>
    </div>
  </nav>
</header>
