---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = headings
  .filter((heading) => heading.depth > 1 && heading.depth < 4)
  .map((heading) => ({
    ...heading,
    children: [],
  }));
---

<div class="toc-container">
  <h3 class="mb-2 text-lg font-semibold">On this page</h3>
  <ul class="space-y-2">
    {
      toc.map((heading) => (
        <li>
          <a
            href={`#${heading.slug}`}
            class="text-sm text-gray-600 transition-colors duration-200 hover:text-blue-600 hover:underline"
            style={{ marginLeft: `${(heading.depth - 2) * 1}rem` }}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</div>
